/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/*  SECTIONS  */
/* line 18, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.row {
  clear: both;
  padding: 0;
  margin: 0;
}

/*  COLUMN SETUP  */
/* line 25, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.col, .c12, .c11, .c10, .c9, .c8, .c7, .c6, .c5, .c4, .c3, .c2, .c1 {
  display: block;
  float: left;
  margin: 1% 0 1% 1%;
  text-align: center;
}

/* line 32, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.col:first-child, .c12:first-child, .c11:first-child, .c10:first-child, .c9:first-child, .c8:first-child, .c7:first-child, .c6:first-child, .c5:first-child, .c4:first-child, .c3:first-child, .c2:first-child, .c1:first-child {
  margin-left: 0;
}

/*  GROUPING  */
/* line 36, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.group:after, .row:after,
.group:before,
.row:before {
  content: "";
  display: table;
}

/* line 42, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.group:after, .row:after {
  clear: both;
}

/* line 46, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.group, .row {
  zoom: 1;
  /* For IE 6/7 */
}

/*  GRID OF TWELVE  */
/* line 51, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.c12 {
  width: 100%;
}

/* line 56, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.c11 {
  width: 91.58%;
}

/* line 61, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.c10 {
  width: 83.16%;
}

/* line 66, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.c9 {
  width: 74.75%;
}

/* line 71, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.c8 {
  width: 66.33%;
}

/* line 76, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.c7 {
  width: 57.91%;
}

/* line 81, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.c6 {
  width: 49.5%;
}

/* line 86, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.c5 {
  width: 41.08%;
}

/* line 91, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.c4 {
  width: 32.66%;
}

/* line 96, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.c3 {
  width: 24.25%;
}

/* line 101, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.c2 {
  width: 15.83%;
}

/* line 106, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.c1 {
  width: 7.416%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  /* line 112, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
  .col, .c12, .c11, .c10, .c9, .c8, .c7, .c6, .c5, .c4, .c3, .c2, .c1 {
    margin: 1% 0;
  }

  /* line 116, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
  .c1,
  .c10,
  .c11,
  .c12,
  .c2,
  .c3,
  .c4,
  .c5,
  .c6,
  .c7,
  .c8,
  .c9 {
    width: 100%;
  }
}
/*  TYPOGRAPHY */
@font-face {
  font-family: 'primary-font';
  src: url(/assets/font-80f923f71ac03c1b4c5c4c070ca89bd87ecc184ca1ee9dba1e803dc3fbc6a0fe.woff);
  font-weight: normal;
  font-style: normal;
}
/* line 138, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "primary-font";
}

/*SPACING*/
/* line 145, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.tc {
  text-align: center;
}

/* line 146, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.tl {
  text-align: left;
}

/* line 147, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.tr {
  text-align: right;
}

/* line 148, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.tj {
  text-align: justify;
}

/* line 149, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.hidden {
  display: none;
}

/* line 150, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.fl {
  float: left;
}

/* line 151, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.fr {
  float: right;
}

/* line 152, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.lsn {
  list-style: none !important;
}

/* line 153, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.vat {
  vertical-align: top !important;
}

/* line 154, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.vab {
  vertical-align: bottom !important;
}

/* line 155, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.vam {
  vertical-align: middle !important;
}

/* line 157, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.vs {
  height: 100% !important;
}

/* line 158, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.hs {
  width: 100% !important;
}

/* line 161, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.pt-0, .pv-0, .p-0 {
  padding-top: 0em !important;
}

/* line 162, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.pt-1, .pv-1, .p-1 {
  padding-top: 1em !important;
}

/* line 163, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.pt-2, .pv-2, .p-2 {
  padding-top: 2em !important;
}

/* line 164, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.pt-3, .pv-3, .p-3 {
  padding-top: 3em !important;
}

/* line 165, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.pt-4, .pv-4, .p-4 {
  padding-top: 4em !important;
}

/* line 166, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.pt-5, .pv-5, .p-5 {
  padding-top: 5em !important;
}

/* line 167, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.pb-0, .pv-0, .p-0 {
  padding-bottom: 0em !important;
}

/* line 168, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.pb-1, .pv-1, .p-1 {
  padding-bottom: 1em !important;
}

/* line 169, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.pb-2, .pv-2, .p-2 {
  padding-bottom: 2em !important;
}

/* line 170, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.pb-3, .pv-3, .p-3 {
  padding-bottom: 3em !important;
}

/* line 171, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.pb-4, .pv-4, .p-4 {
  padding-bottom: 4em !important;
}

/* line 172, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.pb-5, .pv-5, .p-5 {
  padding-bottom: 5em !important;
}

/* line 179, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.pl-0, .ph-0, .p-0 {
  padding-left: 0em !important;
}

/* line 180, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.pl-1, .ph-1, .p-1 {
  padding-left: 1em !important;
}

/* line 181, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.pl-2, .ph-2, .p-2 {
  padding-left: 2em !important;
}

/* line 182, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.pl-3, .ph-3, .p-3 {
  padding-left: 3em !important;
}

/* line 183, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.pl-4, .ph-4, .p-4 {
  padding-left: 4em !important;
}

/* line 184, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.pl-5, .ph-5, .p-5 {
  padding-left: 5em !important;
}

/* line 185, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.pr-0, .ph-0, .p-0 {
  padding-right: 0em !important;
}

/* line 186, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.pr-1, .ph-1, .p-1 {
  padding-right: 1em !important;
}

/* line 187, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.pr-2, .ph-2, .p-2 {
  padding-right: 2em !important;
}

/* line 188, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.pr-3, .ph-3, .p-3 {
  padding-right: 3em !important;
}

/* line 189, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.pr-4, .ph-4, .p-4 {
  padding-right: 4em !important;
}

/* line 190, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.pr-5, .ph-5, .p-5 {
  padding-right: 5em !important;
}

/* line 205, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.mt-0, .mv-0, .m-0 {
  margin-top: 0em !important;
}

/* line 206, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.mt-1, .mv-1, .m-1 {
  margin-top: 1em !important;
}

/* line 207, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.mt-2, .mv-2, .m-2 {
  margin-top: 2em !important;
}

/* line 208, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.mt-3, .mv-3, .m-3 {
  margin-top: 3em !important;
}

/* line 209, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.mt-4, .mv-4, .m-4 {
  margin-top: 4em !important;
}

/* line 210, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.mt-5, .mv-5, .m-5 {
  margin-top: 5em !important;
}

/* line 211, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.mb-0, .mv-0, .m-0 {
  margin-bottom: 0em !important;
}

/* line 212, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.mb-1, .mv-1, .m-1 {
  margin-bottom: 1em !important;
}

/* line 213, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.mb-2, .mv-2, .m-2 {
  margin-bottom: 2em !important;
}

/* line 214, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.mb-3, .mv-3, .m-3 {
  margin-bottom: 3em !important;
}

/* line 215, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.mb-4, .mv-4, .m-4 {
  margin-bottom: 4em !important;
}

/* line 216, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.mb-5, .mv-5, .m-5 {
  margin-bottom: 5em !important;
}

/* line 223, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.ml-0, .mh-0, .m-0 {
  margin-left: 0em !important;
}

/* line 224, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.ml-1, .mh-1, .m-1 {
  margin-left: 1em !important;
}

/* line 225, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.ml-2, .mh-2, .m-2 {
  margin-left: 2em !important;
}

/* line 226, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.ml-3, .mh-3, .m-3 {
  margin-left: 3em !important;
}

/* line 227, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.ml-4, .mh-4, .m-4 {
  margin-left: 4em !important;
}

/* line 228, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.ml-5, .mh-5, .m-5 {
  margin-left: 5em !important;
}

/* line 229, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.mr-0, .mh-0, .m-0 {
  margin-right: 0em !important;
}

/* line 230, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.mr-1, .mh-1, .m-1 {
  margin-right: 1em !important;
}

/* line 231, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.mr-2, .mh-2, .m-2 {
  margin-right: 2em !important;
}

/* line 232, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.mr-3, .mh-3, .m-3 {
  margin-right: 3em !important;
}

/* line 233, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.mr-4, .mh-4, .m-4 {
  margin-right: 4em !important;
}

/* line 234, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.mr-5, .mh-5, .m-5 {
  margin-right: 5em !important;
}
