/* line 1, /Users/amccoy/Projects/reuse/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 10, /Users/amccoy/Projects/reuse/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 17, /Users/amccoy/Projects/reuse/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 23, /Users/amccoy/Projects/reuse/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 26, /Users/amccoy/Projects/reuse/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 30, /Users/amccoy/Projects/reuse/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 36, /Users/amccoy/Projects/reuse/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 40, /Users/amccoy/Projects/reuse/app/assets/stylesheets/scaffolds.scss */
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 47, /Users/amccoy/Projects/reuse/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 52, /Users/amccoy/Projects/reuse/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 56, /Users/amccoy/Projects/reuse/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 62, /Users/amccoy/Projects/reuse/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 70, /Users/amccoy/Projects/reuse/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 81, /Users/amccoy/Projects/reuse/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 87, /Users/amccoy/Projects/reuse/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/*  SECTIONS  */
/* line 18, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.row {
  clear: both;
  padding: 0;
  margin: 0;
}

/*  COLUMN SETUP  */
/* line 25, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.col, .c12, .c11, .c10, .c9, .c8, .c7, .c6, .c5, .c4, .c3, .c2, .c1 {
  background-color: #ddd;
  display: block;
  float: left;
  margin: 1% 0 1% 1%;
  text-align: center;
}

/* line 35, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.col:first-child, .c12:first-child, .c11:first-child, .c10:first-child, .c9:first-child, .c8:first-child, .c7:first-child, .c6:first-child, .c5:first-child, .c4:first-child, .c3:first-child, .c2:first-child, .c1:first-child {
  margin-left: 0;
}

/*  GROUPING  */
/* line 39, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.group:after, .row:after,
.group:before,
.row:before {
  content: "";
  display: table;
}

/* line 45, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.group:after, .row:after {
  clear: both;
}

/* line 49, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.group, .row {
  zoom: 1;
  /* For IE 6/7 */
}

/*  GRID OF TWELVE  */
/* line 54, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.c12 {
  width: 100%;
}

/* line 59, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.c11 {
  width: 91.58%;
}

/* line 64, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.c10 {
  width: 83.16%;
}

/* line 69, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.c9 {
  width: 74.75%;
}

/* line 74, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.c8 {
  width: 66.33%;
}

/* line 79, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.c7 {
  width: 57.91%;
}

/* line 84, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.c6 {
  width: 49.5%;
}

/* line 89, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.c5 {
  width: 41.08%;
}

/* line 94, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.c4 {
  width: 32.66%;
}

/* line 99, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.c3 {
  width: 24.25%;
}

/* line 104, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.c2 {
  width: 15.83%;
}

/* line 109, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
.c1 {
  width: 7.416%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  /* line 115, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
  .col, .c12, .c11, .c10, .c9, .c8, .c7, .c6, .c5, .c4, .c3, .c2, .c1 {
    margin: 1% 0;
  }

  /* line 118, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
  .c1,
  .c10,
  .c11,
  .c12,
  .c2,
  .c3,
  .c4,
  .c5,
  .c6,
  .c7,
  .c8,
  .c9 {
    width: 100%;
  }
}
/*  TYPOGRAPHY */
@font-face {
  font-family: 'primary-font';
  src: url(/fonts/font.woff);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'secondary-font';
  src: url(/fonts/font.woff);
  font-weight: normal;
  font-style: normal;
}
/* line 146, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
body {
  font-family: 'secondary-font';
}

/* line 149, /Users/amccoy/Projects/reuse/app/assets/stylesheets/application.css.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'primary-font';
}
