<div class="container">
    <div class="row">
        <div class="c1">
            1
        </div>
        <div class="c2">
            2
        </div>
        <div class="c3">
            3
        </div>
        <div class="c6">
            6
        </div>
    </div>
    <div class="row">
        <div class="c5">
            5
        </div>
        <div class="c7">
            7
        </div>
    </div>
    <div class="row">
        <div class="c8">
            8
        </div>
        <div class="c4">
            4
        </div>
    </div>
    <div class="row">
        <div class="c1">
            1
        </div>
        <div class="c10">
            10
        </div>
        <div class="c1">
            1
        </div>
    </div>
    <div class="row">
        <div class="c1">
            1
        </div>
        <div class="c11">
            11
        </div>
    </div>
    <div class="row">
        <div class="c12">
            12
        </div>
    </div>
</div>
