<h1>The Sink</h1>
<h2>The Nav Bar</h2>
<%= render "layouts/navbar" %>
<h2>The Grid</h2>
<%= render "sink/grid" %>
<h2>The Sign Up</h2>
<%= render "layouts/signup" %>
<h2>The Login</h2>
<%= render "layouts/login" %>
<h2>The Profile</h2>
<%= render "layouts/profile" %>
