/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*  SECTIONS  */
.row {
    clear: both;
    padding: 0;
    margin: 0;
    @extend .group;
}
/*  COLUMN SETUP  */
.col {
    //COLUMN BACKGROUND COLOR
    background-color: #ddd;

    display: block;
    float: left;
    margin: 1% 0 1% 1%;
    text-align: center;
}

.col:first-child {
    margin-left: 0;
}
/*  GROUPING  */
.group:after,
.group:before {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
    /* For IE 6/7 */
}
/*  GRID OF TWELVE  */
.c12 {
    @extend .col;
    width: 100%;
}

.c11 {
    @extend .col;
    width: 91.58%;
}

.c10 {
    @extend .col;
    width: 83.16%;
}

.c9 {
    @extend .col;
    width: 74.75%;
}

.c8 {
    @extend .col;
    width: 66.33%;
}

.c7 {
    @extend .col;
    width: 57.91%;
}

.c6 {
    @extend .col;
    width: 49.5%;
}

.c5 {
    @extend .col;
    width: 41.08%;
}

.c4 {
    @extend .col;
    width: 32.66%;
}

.c3 {
    @extend .col;
    width: 24.25%;
}

.c2 {
    @extend .col;
    width: 15.83%;
}

.c1 {
    @extend .col;
    width: 7.416%;
}
/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0;
    }
    .c1,
    .c10,
    .c11,
    .c12,
    .c2,
    .c3,
    .c4,
    .c5,
    .c6,
    .c7,
    .c8,
    .c9 {
        width: 100%;
    }
}
/*  TYPOGRAPHY */
@font-face {
    font-family: 'primary-font';
    src: font-url('font-primary.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'secondary-font';
    src: font-url('font-primary.woff');
    font-weight: normal;
    font-style: normal;
}
body{
  font-family: 'secondary-font';
}
h1, h2, h3, h4, h5, h6{
  font-family: 'primary-font';
}
