<nav class="db dt-l w-100 border-box pa3 ph5-l">
    <a class="db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l" href="#" title="Home">
        <%= image_tag('logo.png', :class => 'dib w2 h2 br-100')%>
    </a>
    <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
        <%= link_to "Home", root_url, :class => 'link dim dark-gray f6 f5-l dib mr3 mr4-l' %>
        <%= link_to "Blog", root_url, :class => 'link dim dark-gray f6 f5-l dib mr3 mr4-l' %>
        <%= link_to "Contact Us", root_url, :class => 'link dim dark-gray f6 f5-l dib mr3 mr4-l' %>
        <% if user_signed_in? %>
          <li><%= link_to "Profile", profile_path %></li>
          <%= link_to 'Logout', destroy_user_session_path, :class => 'link dim dark-gray f6 f5-l dib', :method => :delete %>
        <% else %>
          <%= link_to 'Login', new_user_session_path, :class => 'link dim dark-gray f6 f5-l dib'  %>
        <% end %>
    </div>
</nav>
